* {
    box-sizing: border-box;
    margin: 0 auto;
}
body, html {
  height: 100%;
  background-color: #111E24;
}
.wrap{
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 50%;
  height: 40%;
  padding:0 2.5% 0 2.5%;
}
@keyframes slideFromBottom {
  0% {
    transform: translateY(+500%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-cursor {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
#title{
  width: 100%;
  height: auto;
  margin: 0 auto;
  color: white;
  font-size: 3vw;
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  letter-spacing: .1px;
  animation: typing 2s steps(17, end), blink-cursor .75s step-end 3;
}
#bigTitle{
  width: 100%;
  height: auto;
  margin: 0 auto;
  color: white;
  font-size: 3vw;
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  letter-spacing: .1px;
  animation: typing 2s steps(11, end), blink-cursor .75s step-end infinite;
  animation-delay: 3s;
}
.border{
  border-bottom: 1px solid white;
  width: 100%
}
.ui{
  width: 100%;
  height: 50%;
  text-align: center;
  float: left;
  padding: 3%;
  margin: 0 auto;
  animation: 0.5s ease-out 0s 1 slideFromBottom;
  overflow: hidden;
}
